nav {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 80px;
  cursor: pointer;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 로고 스타일 */
.main-titleBox {
  text-align: center;
  margin-top: 20px;
}

.main-title {
  margin-top: 80px;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* 제목 스타일 */
.sub-title {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: #333;
}

/* 링크 스타일 */
.private-a-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.private-a-box a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

/* 폼 스타일 */
.sign-up-form {
  margin-top: 40px;
}

.input-form .container {
  background-color: #fff;
  border-radius: 5px;
  padding: 50px;
}

.input-form .container input[type="text"],
.input-form .container input[type="password"],
.input-form .container input[type="email"] {
  width: 380px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 버튼 스타일 */
.clearfix {
  margin-top: 20px;
  text-align: center;
}

.clearfix button {
  padding: 10px 20px;
  margin-left: 10px;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelbtn {
  border-style: 0.5px solid black;
  background-color: #00000000;
  color: #6c757d;
}

.signupbtn {
  background-color: #6c757d;
  border: none;
  color: #fff;
}

.go-login {
  margin-top: 20px;
  text-align: center;
  color: gray;
}

.to-login {
  text-decoration: none;
  color: #333;
}
