nav {
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 30px;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 80px;
  cursor: pointer;
}
.logout {
  float: right;
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: rgb(63, 63, 63);
  margin-bottom: 30px;
}

input,
textarea {
  all: unset;
  border: 1px solid rgb(178, 178, 178);
  margin-top: 8px;
  width: 550px;
  height: 20px;
  border-radius: 8px;
  padding: 10px;
}

textarea {
  height: 200px;
}

.content input {
  height: 80px;
}

.container div {
  margin-bottom: 20px;
}

button {
  all: unset;
  padding: 10px;
  font-weight: bold;
  color: gray;
  font-size: 15px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.container {
  font-size: 15px;
  color: gray;
  width: 580px;
}

button:hover {
  color: white;
  background-color: rgb(48, 48, 255);
}
.clearfix {
  text-align: center;
}
.clearfix button {
  width: 260px;
}

.board-container div {
  margin-bottom: 20px;
}

.board-content {
  margin-top: 40px;
}
.board-tag {
  color: rgb(49, 49, 255);
}
.board-title {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.board-writer {
  font-size: 13px;
}
.board-writebtn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

button {
  all: unset;
  padding: 10px;
  font-weight: bold;
  color: gray;
  font-size: 15px;
  width: 340px;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.board-container {
  font-size: 15px;
  color: gray;
  width: 600px;
}

.hidden {
  display: none;
}
