<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pcb-post</title>
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <nav>
      <span class="logo">PCB</span>
      <span class="logout">로그아웃</span>
    </nav>
    <form>
      <div class="container">
        <!-- 전부 임시데이터-->
        <div class="tag">#A #Apple</div>
        <div class="title">
          Etiam nulla lectus amet nunc molestie at vulputate.
        </div>
        <div class="writer">홍길동</div>
        <div class="content">
          Porttitor tempor consequat tristique faucibus netus massa. Auctor nibh
          faucibus felis mauris vitae. Morbi Porttitor tempor consequat
          tristique faucibus netus massa. Auctor nibh faucibus felis mauris
          vitae. MorbiPorttitor tempor consequat tristique faucibus netus massa.
          Auctor nibh faucibus felis mauris vitae. MorbiPorttitor tempor
          consequat tristique faucibus netus massa. Auctor nibh faucibus felis
          mauris vitae. Morbi Porttitor tempor consequat tristique faucibus
          netus massa. Auctor nibh faucibus felis mauris vitae. Morbi Porttitor
          tempor consequat tristique faucibus netus massa. Auctor nibh faucibus
          felis mauris vitae. Morbi Porttitor tempor consequat tristique
          faucibus netus massa. Auctor nibh faucibus felis mauris vitae. Morbi
        </div>
        <div class="writebtn">
          <button type="submit">참여하기</button>
        </div>
      </div>
    </form>
  </body>
</html>
