<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pcb-postit</title>
    <link rel="stylesheet" href="../static/css/postit.css" />
  </head>
  <body>
    <nav>
      <span class="logo">PCB</span>
      <span class="logout">로그아웃</span>
    </nav>
    <form>
      <div class="container">
        <!-- 전부 임시데이터-->
        <div class="tag">#A #Apple</div>
        <div class="title">
          Etiam nulla lectus amet nunc molestie at vulputate.
        </div>
        <div class="writer">홍길동</div>
        <div class="content">
          <div class="postit-1">
            <div class="postit">
              Fringilla turpis mattis sit aenean facilisis amet. Quis at
              vulputate pulvinar urna hendrerit. Cras ipsum lectus viverra diam
              lorem eu. Justo.
              <hr />
              <div class="nickname">ddori</div>
              <div class="pluscomment">댓글 추가</div>
            </div>
            <div class="postit">
              Fringilla turpis mattis sit aenean facilisis amet. Quis at
              vulputate pulvinar urna hendrerit. Cras ipsum lectus viverra diam
              lorem eu. Justo.
              <hr />
              <div class="nickname">ddori</div>
              <div class="pluscomment">댓글 추가</div>
            </div>
            <div class="postit">
              Fringilla turpis mattis sit aenean facilisis amet. Quis at
              vulputate pulvinar urna hendrerit. Cras ipsum lectus viverra diam
              lorem eu. Justo.
              <hr />
              <div class="nickname">ddori</div>
              <div class="pluscomment">댓글 추가</div>
            </div>
          </div>
          <div class="postit-2">
            <div class="postit">
              Fringilla turpis mattis sit aenean facilisis amet. Quis at
              vulputate pulvinar urna hendrerit. Cras ipsum lectus viverra diam
              lorem eu. Justo.
              <hr />
              <div class="nickname">ddori</div>
              <div class="pluscomment">댓글 추가</div>
            </div>
            <div class="postit">
              Fringilla turpis mattis sit aenean facilisis amet. Quis at
              vulputate pulvinar urna hendrerit. Cras ipsum lectus viverra diam
              lorem eu. Justo.
              <hr />
              <div class="nickname">ddori</div>
              <div class="pluscomment">댓글 추가</div>
            </div>
            <div class="plusbtn">+</div>
            <div class="hidden input-opinion">
              <textarea class="opinion" type="text" rows="2"></textarea>
              <button type="submit" class="confirm">확인</button>
            </div>
            <div class="postit postit-3">
              <div class="inputContent"></div>
              <hr />
              <div class="nickname"></div>
              <div class="pluscomment">댓글 추가</div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script src="../static/js/postit.js"></script>
  </body>
</html>
