<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style-session.css" />
    <base href="/signup" />
    <title>pcb-signup</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <nav>
      <span class="logo">PCB</span>
    </nav>
    <div class="main-titleBox">
      <button class="main-title" onclick="goNewPage('/')">Join PCB</button>
    </div>
    <!-- 로그인 폼 -->
    <div class="sign-up-form">
      <form
        action="/users/create"
        method="post"
        class="input-form"
        name="inputForm"
        enctype="multipart/form-data"
        novalidate
      >
        <div class="container">
          <div class="id box">
            <div>ID</div>
            <input
              class="input-id"
              type="text"
              placeholder="아이디 입력 (문자, 숫자 포함 5~20자)"
              name="id"
              maxlength="20"
              required
            />
          </div>
          <div class="pw box">
            <div>Password</div>
            <input
              class="input-pw"
              type="password"
              placeholder="비밀번호 입력 (문자, 숫자, 특수문자 포함 5~20자)"
              name="psw"
              maxlength="20"
              required
            />
          </div>
          <div class="nickname box">
            <div>Nickname</div>
            <input
              class="inputnick"
              type="text"
              placeholder="닉네임 입력 (문자, 숫자 포함 1~20자)"
              name="nickname"
              maxlength="20"
              required
            />
          </div>

          <div class="clearfix">
            <button type="submit" class="signupbtn">회원가입</button>
          </div>
        </div>
      </form>
      <div class="go-login">
        회원이신가요?
        <a class="a to-login" href="/users/login"><strong>로그인</strong></a>
      </div>
    </div>
    <script th:src="@{/js/signup.js}"></script>
  </body>
</html>
