<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/write.css" />
  <title>pcb-write</title>
</head>
<body>
<nav>
  <span class="logo">PCB</span>
</nav>
<div class="write-form">
  <form class="input-form" novalidate>
    <div class="container">
      <div class="title box">
        <div>제목</div>
        <input class="input-title" type="text" name="title" maxlength="20" required />
      </div>
      <div class="content box">
        <div>본문</div>
        <input class="input-content" type="text" name="content" maxlength="255" required />
      </div>
      <div class="clearfix">
        <button type="button" class="cancelbtn">취소</button>
        <button type="submit" class="confirmbtn">작성</button>
      </div>
    </div>
  </form>
</div>
<script th:src="@{/js/write.js}"></script>
</body>
</html>
